.imgs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.resize_houses {
    display: flex;
    width: 45%;
    max-width: 1000px;
    min-width: none;
}

.border_around {
    border: 5px solid #B4F8C8;
}

.all_down {
    display: flex;
    justify-content: flex-end;
}

#bottom {
    display: flex;
    position: absolute;
    bottom: 0%;
    width: 100%;
}