

/* Font Sizing */
.text_size {
    font-size: x-large;
}

.text_size_smaller {
    font-size: larger;

}

.playfair_font {
    font-family: "Playfair", serif;
    font-optical-sizing: auto;
    /* font-style: italic; */
    font-weight: bold;
}


.gray_box {
    background-color: #B4F8C8;
}

/* Image Sizing */
.resize {
    display: flex;
    width: 50%;
}

.resize_img_links {
    display: flex;
    width: 100%;
    max-width: 1000px;
}

.resize_img_arrow {
    display: flex;
    width: 50%;
}

.resize_img_arrow_big {
    display: flex;
    width: 100px;
    max-width: 15%;
}

.resize_img_icons {
    display: flex;
    width: 100%;
    max-width: 100px;
}

/* Button Sizing */
.resize_div_button_small {
    /* display: flex; */
    width: 6rem;
}

.resize_div_button_big {
    width: 9.5rem;
}

#four_hundred {
    width: 34.25%;
    max-width: 400px;
}

#seven_hundred {
    width: 50%;
    max-width: 700px;
}

.percentage_fix {
    width: 45%;
}

.fifty_percent {
    width: 50%;
}

.one_hundred_percent {
    width: 100%;
}

/* Spacing and Justification */
.space_between {
    display: flex;
    justify-content: space-between;
}

.gap_filler {
    display: flex;
    justify-content: center;
    gap: 5%;
    align-items: center;
}

.left_side {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.centered_txt {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Text Centering */
.txt_center {
    text-align: center;
}

/* Directions */
.direction_column {
    display: flex;
    flex-direction: column;
}

.direction_row {
    display: flex;
    flex-direction: row;
}

/* Spacing of sections */
.space_top {
    margin-top: 5vh;
}

.space_top_ten {
    margin-top: 10vh;
}

.space_top_one {
    margin-top: 1vh;
}

.no_space_around {
    display: flex;
    margin: 0%;
    padding: 0%;
}

/* Link decorations */
.Txt_none {
    display: flex;
    text-decoration: none;
    color: black;
}

.Txt_none:hover {
    text-decoration: underline;
}

/* CSS for the drop down menu */

.link {
    background: none;
    border: none;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.dropdown.active>.link,
.link:hover {
    color: blue;
    text-decoration: underline;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    left: 0;
    top: calc(100% + .25rem);
    background-color: white;
    padding: .75rem;
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0 rgb(0, 0, .1);
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

.dropdown.active>.link+.dropdown-menu {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.information-grid {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 2rem;
}

.dropdown-links {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

/* CSS for overall HTML */
body {
    margin: 0%;
    background-color: white;
}

header {
    display: flex;
    align-items: center;
    padding: 1rem;
    justify-content: center;
    gap: 10%;
    background-color: #E3D8F1;
}

.header_cont {
    display: flex;
    color: white;
    align-items: center;
    flex-direction: column;
    background-image: url(/Scenery/pexels-pixabay-163872.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position-y: -100px;
    width: 800rem;
    max-width: 100%;
    height: 60rem;
}

.header_cont>p {
    margin: 5%;
}

h2 {
    margin-top: 5vh;
}

.skills_organize {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.resume_link {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Resume_txt {
    display: flex;
    align-items: center;
    margin: 5%;
}

.about_me_organize {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.products_organize {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.personal_projects_organize {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.job_opprtunities_organize {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.volunteer_opportunities_organize {
    display: flex;
}

.contact_me_organize {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    display: flex;
    background-color: #E3D8F1;
    gap: 10%;
    justify-content: center;
    margin-top: 5vh;
}